.primeiraSessaoInicio{
    height: 75vh;
    width: 100%;
    background-image: url('../../assets/bannerInicio.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 6%;

    h2 {
        color: #FFF;
        font-size: 32px;
        width: 20%;
    }
}



.porqueDoarSection {

    display: flex;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2 {
        width: 90%;
        font-size: 40px;
        color: #005695;
    }

}

.cardsMotivos {

    display: flex;
    height: 70vh;
    justify-content: space-evenly;
    flex-direction: column;
    padding-left: 6%;
    
    
    h2{
        width: 90%;
        font-size: 40px;
        color: #005695;
    }

    


    div{
        display: flex;
        justify-content: space-around;
        height: 40vh;
    }

    section{
        background: #0157944D;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
        


        p {
            font-size: 22px;
            text-align: center;
            width: 80%;
        }

    }
}


@media (max-width: 780px) {
    .primeiraSessaoInicio{
        background-position: center;
        height: 50vh;

        h2{
            width: 90%;
            font-size: 28px;
            text-align: center;
        }
    }
    .porqueDoarSection{
        height: 120vh;

        h2{
            font: 30px;
            text-align: center;
        }

    }

    .cardsMotivos{
        height: 140vh;
        
        align-items: center;

        div{
            height: 110vh;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        

        section{
            width: 70%;
            height: 20vh;
            
            

            p{
                font-size: 16px;
            }

            img{
                width: 18%;
            }

            h2{
                font-size: 18px;
            }
        }
    }
}