.primeiraSessaoInicio{
    height: 75vh;
    width: 100%;
    background-image: url('../../assets/bannerInicio.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 6%;

    h2 {
        color: #FFF;
        font-size: 32px;
        width: 20%;
    }
}



.porqueDoarSection {

    display: flex;
    border: solid red;
    height: 75vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2 {
        width: 90%;
        font-size: 40px;
        color: #005695;
    }

}

.cardsMotivos {

    display: flex;
    height: 50vh;
    justify-content: space-evenly;

    section{
        background: #0157944D;
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;


        p {
            font-size: 22px;
            text-align: center;
            width: 80%;
        }

    }
}